.App {
  text-align: center;
  height: 93vh;
  font-family: 'Roboto Condensed', sans-serif;
}

body {background:url('sea.jpg') fixed;
  background-position: 0 0 0 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.container {display:flex;
  flex-direction: row;
  justify-content: center;}



.usefulLinks{margin:1rem 1rem;
  min-width:300px;
  list-style-type: none;
  font-weight: bold;
  background-color: rgb(76, 140, 160); 
  border:1px dotted black;
   border-radius: 15px;
   opacity: 0.8;
   max-height:690px;
  }

.usefulLinks li {list-style-type: none;
  padding:1rem;
  text-align: center;
  }

.linksList {padding-left:0;}

.routcont{display:flex;
  flex-direction: column;
  align-items: center;
  }

/*NAVBAR*/

ul.initiallist {padding: 0;
  opacity: 0.8;
  margin-top: 2rem;
  margin-bottom: 0;
  background-color: rgb(76, 140, 160); 
  border-radius: 10px;
  border:1px dotted black;}

ul.initiallist li {
  font-size: 1.15em;
  border-radius: 10px;}

ul.initiallist li:hover {background-color:  rgb(65, 119, 134);
  color:white;}

.usefulLinks {max-height: 285px;}



/*COUNTRY SEARCH*/

input {padding:0.5rem;
  width: 300px}

button {margin: 1rem;
  padding:0.5rem;
  border-radius: 10%;}

button:hover {background-color: rgb(85, 88, 88);
  color:white;
  font-weight:bold;}


.ContList li {list-style-type: none;
    margin-left: 0;
    padding:0.75rem;
    color:white;
    font-weight: bold;}

/*INITIAL WARNING*/

#warn h3 {color:white;
  font-size: 1.5em;
  font-weight: bold;}

#warn p {color:white;
  font-size: 1.20em;
  font-weight: bold;}


/*INFO CARDS*/

.info {display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:1rem;
  margin-bottom: 5rem;
  }

.info h4 {color:black;
  }

.globalinfo, .countryinfo {display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:1rem;
  margin-bottom: 5rem;
  }

.card {
  margin:1rem;
  padding:1rem;
  background-color: rgb(40, 129, 156); 
 border:1px dotted black;
  border-radius: 15px;
  opacity: 0.8;}

/*TABLE TOP 10 COUNTRIES*/

table {
  font-family: arial, sans-serif;
 border-collapse: collapse;

}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

footer {position: fixed;
    bottom:0;
    left:0;
    right:0;
    background-color: black;
    color:white;
    text-align: center;
    padding:1rem;
    font-size:1em;}

@media screen and (max-width:500px){

  .container {flex-direction: column;
}

.usefulLinks {max-height: 500px;
  width: 100%;
  margin-right:1rem;}

.linksList {display:flex;
  justify-content: center;}

  div.card{width:300px;
  margin:1rem;}

/*NAVLIST*/

ul.initiallist{display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    font-weight: bold;
    color:rgb(43, 124, 145);
  justify-content: center;
  margin-top: 0;}

  ul.initiallist li {padding:1rem;}

  /*COUNTRY SEARCH*/

  #countrymaincard {margin-bottom: 5rem;}

  /*TABLE*/

  th, td {font-size: 0.9em;
  padding: 0;
  }
  th {padding-top:0.3rem;
  padding-bottom:0.3rem;}
  
}
@media screen and (min-width:501px) and (max-width:600px) {

  th, td {font-size: 0.9em;
    padding:0;}

  th {padding-top:0.3rem;
      padding-bottom:0.3rem;}
}


@media screen and (max-width:1100px) {

  .container {flex-direction: column;

  }

  .usefulLinks {max-height: 500px;
    width: 95%;
    margin-right:1rem;}

  .linksList {display:flex;
    justify-content: center;}

  .card{width:500px;
  margin:1rem;}

  ul.initiallist{display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    font-weight: bold;
    color:rgb(43, 124, 145);
    justify-content: center;}

  ul.initiallist li {padding:1rem;}

}

@media screen and (min-width:1101px){

  .card{width:800px;}

  /*.routcont {margin-left:5rem;}*/

  ul.initiallist{display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    font-weight: bold;
    color:rgb(43, 124, 145);
    justify-content: center;
    }

  ul.initiallist li {padding:1rem;}

  /*tr.card {width:800px;}*/

}






